.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Header style */
.app-header {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Voucher container style */
.voucher-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
}


/* Input field style */
.voucher-input {
  padding: 5px;
  margin: 20px 0;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button style */
.voucher-button {
  margin: 50px 0;
  padding: 20px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Result container style */
.voucher-result {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.code-input {
  padding: 5px;
  margin: 20px 0;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Valid message style */
.valid-message {
  color: green;
}

/* Invalid message style */
.invalid-message {
  color: red;
}

button:disabled {
  background-color: #ddd; /* Couleur de fond grise */
  color: #888; /* Couleur du texte grise */
  cursor: not-allowed; /* Curseur non autorisé */
}

/* App.css */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
